*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}#calculater{
    width: 250px;
    background-color: black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}#header{
    color: #fff;
    margin: auto;
}#display{
    width: 220px;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 10px;
}.btn{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}